# Dependências
node_modules/
npm-debug.log*

# Testes (Jest)
coverage/

# Builds / Distribuição
dist/
build/
*.zip
*.crx

# Segurança
.env
.env.*
*.pem
*.key

# Sistema Operacional
.DS_Store
Thumbs.db
*~

# IDEs
.vscode/
.idea/

# Imagens
# Screenshot*