/* View: Courses & Details */

/* Legenda da lista */
.course-legend {
  display: grid;
  grid-template-columns: 1fr 100px 60px;
  /* Nome | Ver Semanas | Remover */
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 11px;
  color: var(--text-light);
  align-items: center;
}

.legend-right {
  display: contents;
}

/* Lista de Cursos */
.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  background: var(--bg-white);
  border: 1px solid var(--border-color);
  margin-bottom: 8px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 100px 60px;
  gap: 10px;
  align-items: center;
  transition: box-shadow 0.2s;
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  box-shadow: var(--shadow-md);
  background-color: #fdfdfd;
}

.item-info {
  overflow: hidden;
}

.item-name {
  font-weight: bold;
  font-size: 14px;
  color: var(--primary-color);
  display: block;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-url {
  font-size: 11px;
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* View: Course Details */
.details-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
}

.details-title {
  margin: 0;
  font-size: 16px;
  color: var(--text-color);
  border: none;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.weeks-container {
  background: var(--bg-white);
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.week-item {
  padding: 12px 15px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week-item:last-child {
  border-bottom: none;
}

.week-item:hover {
  background-color: #f0f4f8;
}

.week-name {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}

.week-arrow {
  color: var(--text-light);
  font-size: 18px;
}
