/* Estrutura Principal do Layout */
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main#main-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  padding-top: 70px;
  /* Espaço para TopNav */
}

/* Utilitários de Layout */
.divider {
  border: 0;
  border-top: 1px solid var(--border-light);
  margin: 20px 0;
}

/* Footer Compartilhado */
.footer-info {
  margin-top: auto;
  text-align: center;
  font-size: 11px;
  color: var(--text-light);
  margin-bottom: 20px;
  padding-top: 20px;
}

.github-link {
  color: var(--text-secondary);
  text-decoration: none;
  margin-left: 5px;
}

.github-link:hover {
  text-decoration: underline;
}
